eks.pem
.ssh
.vscode-server
.aws
.kube
.local
.bash_history
.bash_logout
.bashrc
.profile
.python_history
.sudo_as_admin_successful
.viminfo
.wget-hsts
B-variable.yaml
become.yaml
deploy-node.yaml
docker-playbook.yaml
docker-playbook2.yaml
london.pem
my-playbook.yaml
nexus-1.yaml
nginx.yaml
project-vars
.ansible
.docker